@font-face {
    font-family: 'Electric Shocker';
    src: url('/assets/ElectricShocker.woff2') format('woff2'),
        url('/assets/ElectricShocker.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

