<div id="_feed">
  <app-new-post></app-new-post>
  <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayoutAlign="center none">
            <p>Post 1 A: Foo</p>
            <p>Post 1 B: Bar</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayoutAlign="center none">
            <p>Post 2 A: Foo</p>
            <p>Post 2 B: Bar</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>